<!DOCTYPE html>
<html>
    <head>
        <title>Главная</title>
    </head>
    <body>
    <script>
        function deleteC() {
            document.cookie = 'login' + '=; Max-Age=0;';
            document.location.href = "/";
        }
    </script>
        <h1><a href="/">Главная</a></h1>
    
    {% if not login %}
        <p><a href="/login">Войти</a></p>
        <p><a href="/signup">Зарегестрироваться</a></p>
    {% endif %}

    {% if login %}
            <p>Пользователь{{ login }}</p>
            <p><a href="/profile">Перейти в профиль</a></p>
            <button onclick="deleteC()">Выйти</button> 
    {% endif %}
    <div>
    <p>Оплата вашего мобильного</p>
    <label>сумма</label><input>
    <button>оплатить</button>
    </div>
    </body>
</html>