<!DOCTYPE html>
<html>
    <head>
        <title>Главная</title>
    </head>
    <body>
    <script>
        alert('Мы используем куки')
        function getCookie(cname) {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for(var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
            c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
            }
        }
        return "";
        }

        const login = getCookie('login');
        console.log(login);
    </script>
        <h1><a href="/">Главная</a></h1>
    
    <p><a href="/login">Войти</a></p>
    <p><a href="/signup">Зарегестрироваться</a></p>

    {% if login %}
            <p>Пользователь{{ login }}</p>
            <p><a href="/profile">Перейти в профиль</a></p>
    {% endif %}
    <div>
    <p>Оплата вашего мобильного</p>
    <label>сумма</label><input>
    <button>оплатить</button>
    </div>
    </body>
</html>