<!DOCTYPE html>
<html>
    <head>
        <title>Главная</title>
    </head>
    <body>
        <h1><a href="/">Главная</a></h1>
        <p>Страница профиля</p>
        {% if login %}
            <p> Пользователь{{ login }}</p>
        {% endif %}
        <p>Обговит информацию о себе</p>
        <p>
            <label>Почта</label>
            <input type='text' name='email'>
        </p>
        <p>
            <label>Телефон</label>
            <input type='text'" name='telephone'>
        </p>
        <p>
            <input type='submit' text='Обновить'>
        </p>
        <p><button>Удалить свой профиль</button></p>
    </body>
</html>