<!DOCTYPE html>
<html>
    <head>
        <title>Главная</title>
    </head>
    <body>
        <h1><a href="/">Главная</a></h1>
    
        <form method="POST">
            <p>
                <label>Логин</label>
                <input type='text' id = 'login' name='login'>
            </p>
            <p>
                <label>Пароль</label>
                <input type='text' id="pass1" name='pass1'>
            </p>
            <p>
                <label>Повторите пароль</label>
                <input type='text' id="pass2" name='pass2'>
            </p>
            <button type='submit' value="Зарегестрироваться" onclick="chekPassword()">Зарегестрироваться</button>
        </form>
    </body>
</html>

<script>
    function chekPassword() {
        let pass1 = document.getElementById("pass1");
        let pass2 = document.getElementById("pass2");
        let login = document.getElementById("login");
        if (login.value == "" && pass1.value && pass2.value) alert('Поля не заполнены');
        if (pass1.value != pass2.value) alert('Пароли не совподают');
    }
</script>